//-
mixin social
	ul.social-links.list
		li
			a(href="#", target="_blank")
				i.font-ic.font-vk
		li
			a(href="#", target="_blank")
				i.font-ic.font-facebook
		li
			a(href="#", target="_blank")
				i.font-ic.font-instagram