section.dive.section-indent2
	.container
		.dive__bloks-wrap
			.dive__wrap.g-card__wrap
				a(href="#").dive__item.g-card__item
					.dive__img.g-card__img
						img.img(src="img/dive__img-1.png", alt="dive__img-1")
					.dive__body.g-card__body
						p Начинающим
				a(href="#").dive__item.g-card__item
					.dive__img.g-card__img
						img.img(src="img/dive__img-2.png", alt="dive__img-2")
					.dive__body.g-card__body
						p Продолжение<br> обучения
				a(href="#").dive__item.g-card__item
					.dive__img.g-card__img
						img.img(src="img/dive__img-3.png", alt="dive__img-3")
					.dive__body.g-card__body
						p Повышаем<br> ответственность
				a(href="#").dive__item.g-card__item
					.dive__img.g-card__img
						img.img(src="img/dive__img-4.png", alt="dive__img-4")
					.dive__body.g-card__body
						p Стань<br> Профессионалом
			.dive-record__wrap
				.dive-record__left
					h2.title-2 Пробное погружение
					p.dive-record__text Сегодня подходящий день чтобы сделать в своей жизни новое открытие! Приблизиться к подводному миру Вам поможет инструктор,под руководством которого пройдет Ваше первое занятие.
					a(href="#").button записаться
				.dive-record__right