// hero
section.hero

	.container
		h1.title-1 Дайвинг это жизнь.
		.hero__subtitle Все остальное - всего лишь поверхностные интервалы
		.hero__info Выберите подходящий курс
		a(href="#").button-white Курсы






	// /.container

// /.hero