// main-video
.main-video

	.container
		
		.video
			.videoWrapper.js-videoWrapper(data-id="sN2WM3VwVwM")
				.videoPoster.js-videoPoster.flex-center
					.play-button


	// /.container

// /.main-video