section.table-block.section-indent2
	.container
		h2.title-2 Стоимость
		table.delivery
			thead
				tr
					th Услуга
					th Цена
			tbody
				tr
					td(aria-label='Услуга') 1
					td(aria-label='Цена') 100 руб.
				tr
					td(aria-label='Услуга') 2
					td(aria-label='Цена') 1000 руб.