.text.article
	.container

		h2 Далеко-далеко, за.

		p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. От всех lorem переулка все несколько ты раз по всей, языкового инициал.
		br
		p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись залетают, большого первую свой города страна если не ты точках, подзаголовок алфавит. Не заголовок переписывается безопасную точках если первую. Безопасную решила вопроса рукопись по всей его грустный. Единственное, ручеек языком.
		br
		p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Использовало снова лучше ipsum коварных дорогу залетают решила переписали ее. Единственное текста над, образ первую встретил грамматики большого переулка переписывается, вопрос скатился пустился даже снова. Парадигматическая он запятой но свой грустный! Повстречался родного необходимыми букв первую от всех продолжил осталось заглавных ты запятых буквоград! Толку всеми наш даже несколько, рукопись взгляд.
		br
		img(src="img/beginners__img-1.png", alt="alt")
		br
		ul
			- for(let i = 0; i < 3; i++)
				li Далеко-далеко за, словесными горами в стране гласных и согласных живут.
		br
		ol
			- for(let i = 0; i < 3; i++)
				li Далеко-далеко за, словесными горами в стране гласных и согласных живут.

		h3 Далеко-далеко за словесными горами.
		h4 Далеко-далеко за словесными горами.
		h5 Далеко-далеко за словесными горами.
		h6 Далеко-далеко за словесными горами.


		



	// /.container
// /.text
