section.travels.section-indent2
	.container
		h2.title-2 Путешетвия и дайвинг
		.travels__wrap.g-card__wrap
			a(href="#").travels__item.g-card__item
				.travels__img.g-card__img
					img.img(src="img/travels__img-1.png", alt="travels__img-1")
				.travels__body.g-card__body
					p По России
			a(href="#").travels__item.g-card__item
				.travels__img.g-card__img
					img.img(src="img/travels__img-2.png", alt="travels__img-2")
				.travels__body.g-card__body
					p По Миру
			a(href="#").travels__item.g-card__item
				.travels__img.g-card__img
					img.img(src="img/travels__img-3.png", alt="travels__img-3")
				.travels__body.g-card__body
					p Отчёты
			a(href="#").travels__item.g-card__item
				.travels__img.g-card__img
					img.img(src="img/travels__img-4.png", alt="travels__img-4")
				.travels__body.g-card__body
					p Расписания