section.why.section-indent2
	.why__wrap
		.why__left
			.why__left-img
				img.img(src="img/why__img.png", alt="why__img")
				.why__left-text tortuga-<br>diving
				a(href="#").why__left-logo
					img.img(src="img/why__logo.png", alt="why__logo")
			.why__left-link
				a(href="#") Дайв-центр PADI
		.why__right
			.why__right-body
				h2.title-2 Почему мы?
				p.why__right__text Дайвинг – это жизнь! Интересная, увлекательная, наполненная событиями и приключениями. Я знаю это наверняка, потому что дайвинг – это моя жизнь, мой опыт, личный и профессиональный, которым я готова поделиться с каждым из Вас. На этом сайте Вы легко найдете информацию, которая поможет реализовать как можно больше Ваших стремлений в области дайвинга и не только. Те, кто еще не присоединился к скуба-нации, узнают здесь также много инятересного о подводном мире и о нас, дайверах. И не важно, как Вы сюда попали, важно чтобы Вы нашли здесь то, что ищите. А я постараюсь Вам в этом помочь.
				a(href="#").button записаться