// whywe
section.whywe

	.container

		.whywe__row.flex

			.whywe__content
				h2.title-2 Почему мы?
				p Дайвинг – это жизнь! Интересная, увлекательная, наполненная событиями и приключениями. Я знаю это наверняка, потому что дайвинг – это моя жизнь, мой опыт, личный и профессиональный, которым я готова поделиться с каждым из Вас. На этом сайте Вы легко найдете информацию, которая поможет реализовать как можно больше Ваших стремлений в области дайвинга и не только. Те, кто еще не присоединился к скуба-нации, узнают здесь также много инятересного о подводном мире и о нас, дайверах. И не важно, как Вы сюда попали, важно чтобы Вы нашли здесь то, что ищите. А я постараюсь Вам в этом помочь.
				a.button(href="#") Подробнее
			// /.whywe__content

			.whywe__images
				img.whywe__img(src="img/img-why-1.jpg", alt="alt")
				.whywe__sert
					.whywe__sert-img
						img.img(src="img/img-why-2.jpg", alt="alt")
					a.whywe__sert-link(href="#") Дайв-центр PADI

			// /.whywe__images

		// /.whywe__row.flex

	// /.container

// /.whywe