extends layout/main

block variables
	- let title = 'Тортуга'



block content
	include sections-text/hero
	include sections-index/gallery-slider
	include sections-index/table-block
	//- include sections-index/dive
	include sections-index/requirements
	include sections-index/main-video
	include sections-index/responses
	include sections-index/courses
	//- include sections-index/subs