extends layout/main

block variables
	- let title = 'Тортуга'
	- let page = 'main'



block content
	include sections-index/hero
	include sections-index/courses
	//- include sections-index/dive
	include sections-index/whywe
	include sections-index/travels
	include sections-index/responses
	include sections-index/improvements
	//- include sections-index/beginners
	//- include sections-index/requirements
	//- include sections-index/main-video
	//- include sections-index/contacts
	include sections-index/subs





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")