// hero
section.hero(style="background-image: url('img/bg-hero.jpg')")

	.container
		h1.title-1 Дайвинг это жизнь.
		.hero__subtitle Все остальное - всего лишь поверхностные интервалы
		a(href="#modal").button.open-modal Записаться






	// /.container

// /.hero